.form_wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 15px;

  padding: 20px 0;
}

.add-game_form {
  max-width: 350px;
  padding: 5px;

  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.05) 10px 10px 0px 0px;
}

.form_container {
  max-width: 300px;

  list-style: none;
  margin: 0 auto;
  padding: 15px 10px;
}

.form_item {
  display: flex;
  flex-direction: column;

  padding: 5px 0;
}

.form_label {
  max-width: 300px;

  margin: 0;
  padding: 5px 0;

  font-weight: normal;
  font-size: medium;
}

.form_label,
.labeledInput_label,
.form_input {
  color: rgba(0, 0, 0, 0.75);
}

.form_input,
.form_radio-container,
.form_checkbox-container {
  max-width: 300px;
  padding: 5px;

  border: none;
  background-color: rgb(229 238 245);
}

.form_checkbox-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.form_radio-container {
  display: flex;
  justify-content: space-between;
}

.labeledInput_container {
  padding: 5px;
}

.labeledInput_label {
  margin-left: 5px;
}

.input_file {
  padding: 0;
  border-radius: 5px;

  font-family: Roboto, sans-serif;
  font-weight: normal;
  font-size: medium;
}

.input_file::file-selector-button {
  height: 30px;
  padding: 5px;
  margin-right: 10px;

  border: none;
  border-radius: 5px;
  background-color: transparent;

  font-family: Roboto, sans-serif;
  font-weight: normal;
  font-size: medium;
  color: #ffffff;
  background-color: #6b99b9;
}

.input_file::file-selector-button:hover {
  background-color: #5582a1;
}

.validation-message {
  height: 17px;
  bottom: 0;

  padding-top: 2px;
  margin: 0;

  font-size: small;
  color: #e31235;
}

.card_genres {
  grid-column: 1 / 3;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3px;

  padding: 10px 0;
}

.genres_item {
  padding: 2px 4px;
  background-color: rgb(229 238 245);

  border-radius: 5px;
}

.card_logo {
  grid-column: 2 / 3;

  width: 32px;
  height: 32px;
}
