.card_buttons {
  grid-column: 1/3;

  display: flex;
  gap: 5px;

  padding: 10px 0;
}

.button_main {
  min-height: 40px;
  padding: 0 16px;

  border: none;
  border-radius: 5px;

  background-color: #e31235;

  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  color: #ebebeb;
}

.button_main:hover {
  background-color: #c90f2e;
  color: #ffffff;
  box-shadow: rgba(201, 15, 46, 0.2) 0px 7px 29px 0px;

  transition: 0.2s ease-in;
}

.button_wishlist {
  cursor: pointer;

  background: none;
  border: none;
}

.wishlist-icon {
  width: 32px;
}
