.card {
  max-width: 20%;
  padding: 5px;

  display: grid;
  grid-template-columns: 1fr 1fr;

  align-items: center;
}

.card_image {
  width: 100%;
  grid-column: 1/3;
}

.card_title {
  grid-column: 1/3;
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 90px;
  margin: 0;
  padding: 10px 0;
  text-align: center;
}

.card_price {
  font-size: 18px;
  margin: 0;
}

.card_score {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
}

.score_icon {
  width: 36px;
}

.score_value {
  font-size: 18px;
  padding: 7px;
  color: #ffffff;
}

.score_value__average {
  background-color: #ffc107;
}

.score_value__high {
  background-color: #6c3;
}

.score_value__low {
  background-color: #fd3843;
}

.score_value__missing {
  background-color: #6c757d;
}
