.card {
  width: 20%;
  padding: 5px;

  display: grid;
  grid-template-columns: 1fr 1fr;

  align-items: center;
}

.card:hover {
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  transition: 0.5s;
}

.card_image {
  width: 100%;
  max-height: 150px;
  object-fit: cover;
  grid-column: 1/3;
}

.card_title {
  grid-column: 1/3;
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0;
  padding: 10px 0;
  text-align: center;
}

.card_price {
  font-size: 18px;
  margin: 0;
}

.card_score {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
}

.score_icon {
  width: 36px;
}

.score_value {
  font-size: 18px;
  padding: 7px;
  color: #ffffff;
}

.score_value__average {
  background-color: #ffc107;
}

.score_value__high {
  background-color: #6c3;
}

.score_value__low {
  background-color: #fd3843;
}

.score_value__missing {
  background-color: #6c757d;
}

.card_purchase {
  display: flex;
  align-items: center;
  gap: 5px;
}

.card_format {
  margin: 0;

  font-size: small;
  color: rgba(0, 0, 0, 0.35);
}

.card_date {
  grid-column: 1/3;
  margin: 0;

  color: rgba(0, 0, 0, 0.35);
}

.cards_empty {
  font-size: large;
  font-weight: bold;
}
