.card-large {
  padding: 5px;

  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
}

.card-large_image {
  grid-column: 1 / 2;
  width: 100%;
  max-height: 40vh;
  object-fit: scale-down;
  border-radius: 20px;
}

.card-large_description {
  grid-column: 2 / 3;
  grid-row: 2 / 8;
  align-self: self-start;
  margin: 0;
  padding: 0 10px;
}

.card_genres.card-large_genres,
.card_purchase.card-large_purchase,
.card_score.card-large_score,
.card_date.card-large_date,
.card-large_buttons {
  grid-column: 1 / 2;
}

.card_purchase.card-large_purchase,
.card_score.card-large_score {
  grid-row: 4 / 5;
}
