.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  transform: scale(0);

  background-color: rgba(0, 0, 0, 0.15);
}

.active {
  transform: scale(1);
}

.modal_content {
  width: 200px;
  height: 200px;

  background-color: wheat;
}
