.container {
  padding: 20px 0 10px;
}

.form {
  display: flex;
  max-width: fit-content;

  border: 1px solid #b5b5b9;
  border-radius: 5px;
  padding: 5px;
}

.form:hover,
.form:has(> .search_input:focus) {
  border: 1px solid #e31235;
}

.input {
  width: 100%;
  border: none;
  outline: none;

  font-size: 16px;
}

.input::-webkit-search-cancel-button {
  filter: grayscale(100%);
}

.button {
  padding: 0;
  background: none;
  border: none;

  cursor: pointer;
}

.icon {
  display: block;
  width: 32px;
}
