.score {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
}

.scoreIcon {
  width: 36px;
}

.scoreValue {
  font-size: 18px;
  padding: 7px;
  color: #ffffff;
}

.scoreAverage {
  background-color: #ffc107;
}

.scoreHigh {
  background-color: #6c3;
}

.scoreLow {
  background-color: #fd3843;
}

.scoreMissing {
  background-color: #6c757d;
}
