* {
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;

  font-family: Roboto, sans-serif;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.nav {
  display: flex;
  gap: 15px;
}

.nav_link {
  color: #ffffff;
  text-decoration: none;
}
.nav_link:hover {
  text-decoration: underline;
}

.not-found {
  font-size: 128px;
  text-align: center;
}
